@import "../abstracts/mixins";
/*
  NAVIGATION STYLES
*/

.navigation {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: fixed;
  z-index: 2;
  padding: calculateRem(60px) calculateRem(90px) 0;
  // top: calculateRem(90px);

  @include element("list") {
      display: flex;
      justify-content: space-between;
    .navigation__link {
      // text-align: right;
      // margin-bottom: 10px;
    }
  }

  .navigation__logo{
    display: block;
  }
}