@import "../abstracts/functions";
@import "../abstracts/variables";

img {
    max-width: 100%;
}

.selected-work {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: $color--black;

    @include element("text-box") {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    @include element("leftside-images") {
        position: relative;
        top: 90px;
        left: 90px;
        width: 14%;
        border: 1px solid red;

        .selected-work__imgs-wrapper {
            position: absolute;
            width: 100%;
        }
    }

    .imgs {
        position: absolute;
    }

    .img--1 {
        width: 14%;
        height: 250px;
        top: 0;
    }

    .img--2 {
        width: 10%;
        height: 190px;
        top: calc(250px + 190px);
    }

    .img--3 {
        width: 175px;
        height: 265px;
        opacity: 0;
        // top: 240px;
    }
}