@import 'mixins';

/* GRID */
$grid-width: 114rem;

/* COLORS */
$color--black: #0F0F0F;
$color--white: #fff;
$color--grey: #414141;
$color--burgandy: #5D0717;
$color--green: #38502E;

/* ANIMATIONS */
$easing: cubic-bezier(0.77, 0, 0.175, 1);








