@import 'mixins';

/* GRID */
$grid-width: 114rem;

/* COLORS */
$color--black: #000;
$color--white: #fff;
$color--red: #ff0000;
$color--dark-red: #CF1010;

/* ANIMATIONS */
$easing: cubic-bezier(0.77, 0, 0.175, 1);








