@import '../abstracts/variables';
@import '../abstracts/functions';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');


/* FONT(S) */
$font-family--poppins: 'Poppins', sans-serif;
$font-family--comorant-infant: 'Cormorant Infant', serif;


.font--comorant-inant {
  font-family: $font-family--comorant-infant;
}

/* TYPOGRAPHY STYLES */

////////////////////////////////////
//
//* HEADING STYLES *
//
///////////////////////////////////

h1,
h2,
h3 {
  line-height: 1.3;
}

.heading {
  font-weight: 300;
  color: $color--white;
  letter-spacing: 2px;
  text-align: left;
  font-family: $font-family--comorant-infant;

  @include modifier('large') {
    font-size: calculateRem(150px);
    line-height: .9;
    text-transform: uppercase;
  }

  @include modifier('medium'){
    font-size: calculateRem(100px);
  }
}

////////////////////////////////////
//
//* PARAGRAPH STYLES *
//
///////////////////////////////////

.paragraph{
  font-size: 1.5rem;
}

////////////////////////////////////
//
//* AHREF/LINK STYLES *
//
///////////////////////////////////
.anchor-text, .cta {
  position: relative;
  color: $color--white; 
  font-size: calculateRem(14px);
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.anchor-text{
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1.5px;
    background-color: $color--white;
    transition: width 0.25s ease-out;
    -webkit-transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out;
    -ms-transition: width 0.25s ease-out;
    -o-transition: width 0.25s ease-out;
}
  &:hover:after {
    width: 100%;
    right: auto;
    left: 0;
  }
}

.cta{
  font-weight: 500;
}



////////////////////////////////////
//
//* FONT MODIFIER STYLES *
//
///////////////////////////////////


//FONT COLOR MODIFIERS:
.color-grey{
 color: $color--grey;
}

// SPECIFIC LETTER/WORD/SENTENCE STYLES
